.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FEF0E6;
  color: black;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.navbar.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 80px;
}

.navbar-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.navbar-links {
  position: relative;
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ff6600;
}

.navbar-active-indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: black;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.navbar-mobile-menu-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none;
}

.navbar-mobile-menu-icon.active {
  transform: rotate(180deg);
}

.navbar-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  height: 100vh;
  background-color: #FEF0E6;
  padding-top: 80px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  transform: translateX(-100%);
}

.navbar-mobile-menu.open {
  transform: translateX(0);
}

.navbar-mobile-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.navbar-mobile-links li {
  padding: 20px;
}

.navbar-mobile-links a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.navbar-mobile-links a:hover {
  color: #ff6600;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-mobile-menu-icon {
    display: block;
  }

  .navbar-mobile-menu {
    display: block;
  }
}