.footer {
    background-color: #f8f8f8;
    padding: 20px;
    font-family: sans-serif;
    color: #333;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .footer-section {
    text-align: center;
    flex: 1 1 200px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    color: #555;
  }
  
  .footer-section a {
    color: #007bff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
  
  .footer-section a img {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(182deg) brightness(95%) contrast(93%); /* Ajusta el color de los iconos */
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .footer-section {
      flex: 1 1 100%;
      margin-bottom: 20px;
    }
  }